/* src/screens/AllControlsListScreen.css */

.all-controls-screen {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color);
}

.all-controls-content {
  flex: 1;
  padding-top: 12px;
}
